<app-header></app-header>
<div class="container-fluid ">
    <div class="row  min-vh-100 align-items-center ">
        <div class="  mt-5 py-2 py-md-4 py-xl-8 ">
            <div class=" mt-5">
                <div class="row ">
                    <div class="col-12 col-sm-4 col-md-3 col-xl-2 ">
                        <div class="row h-100  align-items-center">
                            <div id="sidebar" class="rounded-1 ">


                                <ul class="list-unstyled components text-center">

                                    <h4 class=" ">QuickLinks</h4>

                                    <li class=" mt-5 ">

                                        <a routerLink="/module_1"> Image processing</a>

                                    </li>
                                    <li class="  mt-5">
                                        <a routerLink="/module_2">Vegetable plantation</a>
                                    </li>
                                    <li class="  active  mt-5 ">
                                        <a routerLink="/module_3">Computer vision</a>
                                    </li>
                                    <li class="  mt-5">
                                        <a routerLink="/module_4">Agricultural robotics
</a>
                                    </li>
                                    <li class="  mt-5  ">
                                        <a routerLink="/module_5">Machine learning

                                        </a>
                                    </li>
                                </ul>

                                <ul class="list-unstyled CTAs">

                                    <li>
                                        <a routerLink="/home" class="article ">Back to Home</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-sm-8 col-md-9 col-xl-10">
                        <div class=" mt-3 ">
                            <div class="row justify-content-end">
                                    
                                <div class="col-xl-3 col-12">
                                <button class="btn btn-primary rounded-pill w-100 " data-bs-toggle="modal"
                                    data-bs-target="#addModal">Add</button>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class=" text-start  mt-5">
                                <div class="row justify-content-end mt-3 ">
                                    <div class="search col-md-6 col-xl-4 col-12 mb-2">

                                        <h5 class="mt-2 text-center text-muted">Input your name to initiate the
                                            search</h5>

                                    </div>
                                    <div class="search col-md-6 col-xl-4 col-12 mb-2">
                                        <input class="form-control " type="text" name="firstName"
                                            [(ngModel)]="searchByname " (ngModelChange)="search()"
                                            placeholder="Name">

                                    </div>

                                </div>
                                <div class=" mt-4">
                                    <div class="row  justify-content-center  " *ngIf="this.searchPerformed">
                                        <img src="../../assets/img/Questions-amico.png"
                                            class="img-fluid rounded-top mt-5" style="height: 200px; width: 200px;" />

                                        <h1 class="text-center ">No List found </h1>
                                    </div>
                                    <div class="row">
                                        <div *ngIf="!this.searchPerformed">
                                            <div class="panel">

                                                <div class="panel-body table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr class="text-center">
                                                                <th>#</th>
                                                                <th>Input image</th>
                                                                <th> color space</th>
                                                                <th> Image resolution</th>
                                                                <th> Height</th>
                                                                <th>  width</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="text-center"
                                                                *ngFor="let module3Info of module3Infos|paginate:{itemsPerPage:  noOfItems,currentPage: pageNo} let i=index">
                                                                <td>{{i+1}}</td>
                                                                <td>{{this.module3Info.instance1}}</td>
                                                                <td>{{this.module3Info.instance2}}</td>
                                                                <td>{{this.module3Info.instance3}}</td>
                                                                <td>{{this.module3Info.instance4}}</td>
                                                                <td>{{this.module3Info.instance5}}</td>
                                                                <td>
                                                                    <ul class="action-list text-center">
                                                                        <button type="button" data-bs-toggle="modal"
                                                                            data-bs-target="#updateModal"
                                                                            (click)="goToUpdate(this.module3Info.id)"
                                                                            class="btn  mx-1  rounded-pill btn-outline-primary ">
                                                                            <fa-icon [icon]="edit"></fa-icon></button>
                                                                        <button type="button"
                                                                            (click)="deleteUser(this.module3Info.id)"
                                                                            class="btn  mx-1 rounded-pill btn-outline-danger">
                                                                            <fa-icon [icon]="delete"></fa-icon></button>
                                                                    </ul>
                                                                </td>
                                                            </tr>




                                                        </tbody>
                                                    </table>
                                                    <div class="pagination ">
                                                        <pagination-controls
                                                            (pageChange)="pageNo = $event"></pagination-controls>
                                                    </div>
                                                </div>

                                               
                                            </div>

                                        </div>


                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal " id="addModal" tabindex="-1" role="dialog" data-bs-backdrop="static"
            data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-body  p-lg-4">

                        <div class="row">

                            <div class="col-md-12 col-12">
                                <h5 class="text-center">Add Computer vision</h5>
                                <form #addstd="ngForm" novalidate (ngSubmit)="addstd.form.valid&& OnAddInfo()">

                                    <div class="mb-3">
                                        <label for="instance1" class="form-label">Input image<span
                                            class="text-danger">*</span></label>
                                        <input type="text" class="form-control form-control-lg " #instance1="ngModel"
                                            [(ngModel)]="addModule.instance1" name="instance1" id="instance1"
                                            required>

                                        <span *ngIf="this.loginning &&instance1.errors?.['required']">
                                            <div class="invalid-tooltip d-block text-center">
                                                pls fill the required field
                                            </div>
                                        </span>

                                    </div>


                                    <div class=" mb-3">
                                        <label for="instance2" class="form-label">color space<span
                                            class="text-danger">*</span></label>
                                        <input type="text" class="form-control form-control-lg" #instance2="ngModel"
                                            [(ngModel)]="addModule.instance2" name="instance2" id="instance2"
                                       required>

                                        <span *ngIf="this.loginning &&instance2.errors?.['required']">
                                            <div class="invalid-tooltip d-block text-center">
                                                pls fill the required field
                                            </div>
                                        </span>
                                    </div>


                                    <div class="mb-3">
                                        <label for="instance3" class="form-label"> Image resolution<span
                                            class="text-danger">*</span></label>
                                        <input type="text" class="form-control form-control-lg" #instance3="ngModel"
                                            [(ngModel)]="addModule.instance3" name="instance3" id="instance3"
                                       required>

                                        <span *ngIf="this.loginning && instance3.errors?.['required']">
                                            <div class="invalid-tooltip d-block text-center">
                                                pls fill the required field
                                            </div>
                                        </span>

                                    </div>

                                    <div class=" mb-3">
                                        <label for="instance4" class="form-label"> Height<span
                                            class="text-danger">*</span></label>
                                        <input type="text" class="form-control form-control-lg" #instance4="ngModel"
                                            [(ngModel)]="addModule.instance4" name="instance4" id="instance4"
                                     required>

                                        <span *ngIf="this.loginning && instance4.errors?.['required']">
                                            <div class="invalid-tooltip d-block text-center">
                                                pls fill the required field
                                            </div>
                                        </span>
                                    </div>

                                    <div class=" mb-3">
                                        <label for="instance5" class="form-label">  width(SNR)
                                            <span
                                            class="text-danger">*</span></label>
                                        <input type="text" class="form-control form-control-lg" #instance5="ngModel"
                                            [(ngModel)]="addModule.instance5" name="instance5" id="instance5"
                                             required>

                                        <span *ngIf="this.loginning && instance5.errors?.['required']">
                                            <div class="invalid-tooltip d-block text-center">
                                                pls fill the required field
                                            </div>
                                        </span>
                                    </div>

                                    <div class="d-grid ">
                                        <div class="text-center">
                                            <button class="btn btn-success rounded-pill mx-2 mt-2 "
                                                (click)="this.loginning=true" type="submit">Submit 
                                             </button>
                                             <button type="button" class="btn rounded-pill btn-danger mx-2 mt-2 "
                                             data-bs-dismiss="modal" aria-label="Close"> Cancel</button>
                                        </div>
                                    </div>


                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

   


            <div class="modal " id="updateModal" tabindex="-1" role="dialog" data-bs-backdrop="static"
                data-bs-keyboard="false">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body  p-lg-4">
                            
                            <div class="row">
                                <div class="col-md-6 col-12 ">
                                   
                                  
                                        <img
                                        src="../../assets/img/Update-rafiki.png"
                                        class="img-fluid rounded-top"
                                        alt=""
                                        style="height: 90%; width:100% ;"
                                    />
                                  
                                </div>
                                <div class="col-md-6 col-12">
                                    <h5 class="text-center">Update Computer vision</h5>

                                    <form #updatemodule="ngForm" novalidate
                                        (ngSubmit)="updatemodule.form.valid&& OnUpdateInfo()">
                                        <div class="row ">



                                            <div class="col-12 ">
                                                <div class="mb-2">
                                                    <label for="instance1" class="form-label">Input image <span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control  "
                                                        #updateinstance1="ngModel" [(ngModel)]="updateModule.instance1"
                                                        name="updateinstance1" id="updateinstance1"
                                                       required>

                                                    <span
                                                        *ngIf="this.updateloginning &&updateinstance1.errors?.['required']">
                                                        <div class="invalid-tooltip d-block text-center">
                                                            pls fill the required field
                                                        </div>
                                                    </span>

                                                </div>
                                            </div>
                                            <div class="col-12 ">

                                                <div class=" mb-2">
                                                    <label for="updateinstance2" class="form-label"> color space<span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control "
                                                        #updateinstance2="ngModel" [(ngModel)]="updateModule.instance2"
                                                        name="updateinstance2" id="updateinstance2"
                                                       required>

                                                    <span
                                                        *ngIf="this.updateloginning &&updateinstance2.errors?.['required']">
                                                        <div class="invalid-tooltip d-block text-center">
                                                            pls fill the required field
                                                        </div>
                                                    </span>
                                                </div>




                                            </div>




                                            <div class="col-12 ">

                                                <div class="mb-2">
                                                    <label for="updateinstance3" class="form-label">  Image resolution<span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control "
                                                        #updateinstance3="ngModel" [(ngModel)]="updateModule.instance3"
                                                        name="updateinstance3" id="updateinstance3"
                                                        required>

                                                    <span
                                                        *ngIf="this.updateloginning && updateinstance3.errors?.['required']">
                                                        <div class="invalid-tooltip d-block text-center">
                                                            pls fill the required field
                                                        </div>
                                                    </span>

                                                </div>


                                            </div>
                                            <div class="col-12 ">


                                                <div class="mb-2">
                                                    <label for="updateinstance4" class="form-label">  Height <span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control "
                                                        #updateinstance4="ngModel" [(ngModel)]="updateModule.instance4"
                                                        name="updateinstance4" id="updateinstance4"
                                                      required>

                                                    <span
                                                        *ngIf="this.updateloginning&& updateinstance4.errors?.['required']">
                                                        <div class="invalid-tooltip d-block text-center">
                                                            pls fill the required field
                                                        </div>
                                                    </span>
                                                </div>

                                            </div>
                                            <div class="col-12 ">


                                                <div class=" mb-2">
                                                    <label for="updateinstance5" class="form-label">  width(SNR)
                                                        <span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control "
                                                        #updateinstance5="ngModel" [(ngModel)]="updateModule.instance5"
                                                        name="updateinstance5" id="updateinstance5"
                                                       required>

                                                    <span
                                                        *ngIf="this.updateloginning && updateinstance5.errors?.['required']">
                                                        <div class="invalid-tooltip d-block text-center">
                                                            pls fill the required field
                                                        </div>
                                                    </span>
                                                </div>

                                            </div>


                                            <div class="col-12 ">
                                                <div class="d-grid ">
                                                    <div class="row ">
                                                       
                                                            <button class="btn btn-primary rounded-pill mt-2 "
                                                            (click)="this.updateloginning=true" type="submit">Update in
                                                            now</button>
                                                     
                                                            <button type="button" class="btn rounded-pill btn-danger mt-2 "  data-bs-dismiss="modal" aria-label="Close"> Cancel</button>
                                          
                                                           
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal " id="statussuccesssModal" tabindex="-1" role="dialog" data-bs-backdrop="static"
            data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center p-lg-4">
                        <a href="#!" class="text-success display-1">

                            <fa-icon [icon]="success"></fa-icon>
                        </a>

                        <div *ngIf="this.showSuccessModel=='add'">
                            <h4 class="text-success mt-2">Add sucessfully</h4>
                            <p class="mt-2 text-center ">Check It Now
                        </div>
                        <div *ngIf="this.showSuccessModel=='update'">
                            <h4 class="text-success mt-2">Update sucessfully</h4>
                            <p class="mt-2 text-center ">Check It Now
                        </div>
                        <div *ngIf="this.showSuccessModel=='delete'">
                            <h4 class="text-success mt-2">Delete sucessfully</h4>
                            <p class="mt-2 text-center ">Check It Now
                        </div>



                        <button type="button" class="btn btn-sm btn-success" (click)="sucessModel()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal  " id="confirmModal" tabindex="-1" role="dialog" data-bs-backdrop="static"
            data-bs-keyboard="false">
            <div class="modal-dialog px-3 modal-dialog-centered modal-sm" role="document">
                <div class="modal-content ">
                    <div class="modal-body text-center " id="modal-body">
                        <a href="#!" class="text-warning display-4">

                            <fa-icon [icon]="warning"></fa-icon>
                        </a>

                        <div>
                            <h4 class=" mt-2">Are you Sure..?</h4>
                            <p class="mt-2 mb-3 text-center ">Do you want delete it
                        </div>

                        <div>
                            <button type="button" class="btn btn-sm btn-success mx-2"
                                (click)="confirmIt()">Yes</button>
                            <button type="button" class="btn btn-sm btn-danger mx-2"
                                (click)=" returnIt()">No</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
