<app-header></app-header>





<div class="container-fluid">
    <div class="container ">
    <div class="row justify-content-center min-vh-100 align-items-center">

        <div class="container ">
            <div class="row justify-content-center">
           
              <div class="col-md-3 col-xl-2 mb-5">
                <a routerLink="/module_1"  class="text-decoration-none">
                    <div class="card ">
                      <div class="card-body mb-5 mt-5  text-center">
                        Image processing

                      </div>
                    </div>
                  </a>
              </div>
          
              <div class="col-12 col-md-3  col-xl-2   mb-5">
                <a routerLink="/module_2"class="text-decoration-none">
                    <div class="card ">
                      <div class="card-body mb-5 mt-5  text-center">
                        Vegetable plantation
                      </div>
                    </div>
                  </a>
              </div>
        
              <div class="col-md-3 col-xl-2 col-12  mb-5">
                <a routerLink="/module_3" class="text-decoration-none">
                    <div class="card ">
                      <div class="card-body mb-5 mt-5  text-center">
                        Computer vision
                      </div>
                    </div>
                  </a>
            </div>
    
            <div class="row justify-content-center">
        
              <div class="col-md-3 col-xl-2 col-12 mb-4">
                <a routerLink="/module_4" class="text-decoration-none">
                    <div class="card ">
                      <div class="card-body mb-5 mt-5  text-center">
                        Agricultural robotics

                      </div>
                    </div>
                  </a>
              </div>
          
              <div class="col-md-3 col-xl-2 col-12  mb-4">
                <a routerLink="/module_5" class="text-decoration-none">
                    <div class="card ">
                      <div class="card-body mb-5 mt-5  text-center">
                  
                        Machine learning
                      </div>
                    </div>
                  </a>
              </div>
            </div>
          </div>

    </div>
</div>
</div>